@import "tailwindcss";

@layer components{
    .flex-between{
        @apply flex justify-between items-center;
    }
}

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.8s ease;
  z-index: 9999;
}

#loader.fade-out {
  opacity: 0;
  pointer-events: none;
}

.spinner {
  border: 6px solid #eee;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
